</div>
<footer class="ft">
			<nav>
				{foreach from=$rows item=row name=about}
					<a href="{$siteurl}/about-{$row->id}.html" target="_blank">{$row->title}</a>
					{if $smarty.foreach.about.last}
					<a href="{$siteurl}/friendlink.html" class="last" target="_blank">友情链接</a>
					{/if}
				{/foreach}
			</nav>
			<div class="innerft">
				<div class="contact">
					<span>智能TV用户交流群：300194185</span>
					<span>智能机顶盒★讨论群：154028165</span>
					<span>客服邮箱：kefu@huan.tv</span>
					<span>合作咨询QQ： 1337564822</span>
					<span class="last">联系电话：(010)87216363-8093 、(010)87216363-8005 </span>					
				</div>
				<div class="cr">粤ICP备110042161号-17 京公网安备11010502021723号</div>
			</div>
		</footer>	
	<script type="text/javascript" src="{$objdir}/js/focus.js"></script>
	<script type="text/javascript" src="{$objdir}/js/common.js"></script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F09a5668e26ca68332071ff263ebd917b' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>

</body>
</html>