<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"><div id="frame43R5E1" class="frame move-span cl frame-2-1"><div id="frame43R5E1_left" class="column frame-2-1-l"><div id="frame43R5E1_left_temp" class="move-span temp"></div><!--{block/47}--></div><div id="frame43R5E1_center" class="column frame-2-1-r"><div id="frame43R5E1_center_temp" class="move-span temp"></div><!--{block/50}--><!--{block/49}--></div></div></div><!--[/diy]-->
</div>

<!--{subtemplate common/footer}-->
